h1 {
  color: rgb(199, 204, 203);
  font-style: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  columns: 90vw;
  columns: 100vh;
  text-align: top-left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-size: 4vw;
  font-size: 5vh;
  padding: 3%;
  margin: 2%;
}
body {
  background-size: 70% 70%;
  margin: 0%;
  padding: 0%;
  height: 100%;
  border-radius: 70%;
}

style {
  position: relative;
  text-align: left;
  text-decoration-color: honeydew;
  }
img {
  width: 70%;
  height: 100%;
  margin: 2%;
  float: right;
  object-position: 100%; 
  columns: 50vh;
  column-width: 100vh;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-bottom: 2%;
  size: 80vw;
}

p {
  color: rgb(231, 222, 222);
  padding-left: 10%;
  padding-top: 2%;
  background-color: rgb(107, 97, 10);
  margin-right: 72%;
  text-align: inherit;
  margin-left: 2%;
  font-size: 100%;
}
text {
  text-align: center;
}