h2 {
  color: navy;
  text-align: center;
}
h3 {
  color: orange;
  font-family: cursive;
  text-align: left;
}
ol {
  font-family: sans-serifbold;
  line-height: 20px;
  text-align: left;
  background: grey;
  background-size: cover;
}
