h2 {
  color: brown;
  text-decoration-line: underline;
  text-align: center;
  font-family: impact, Charcoal, sans-serif;
  background-size: cover;
  margin-top: inherit;
  opacity: 100%;
  background-clip: border-box;
}
h3 {
  color: maroon;
  font-family: cursive;
  text-align: left;
  font-style: oblique;
}
p {
  color: white;
  text-align: center;
  display: block;
  font-family: impact, Charcoal, sans-serif;
  font-size: 20px;
 }
body {
  background-image: url(../image/sky.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid blue;
}
ol {
  font-family: impact, Charcoal, sans-serif;
  background-image: url(../image/j.jpeg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 190px 400px;
  border: 190px 400px;
  border-width: thick;
  color: navy;
borderimg {
  border: 3px solid blue;
}
h3 {
  display: block;
  font-family: sans-serif;
  text-decoration-line: underline;
}
a :active {
  color: yellow;
  background: solid yellow;
}
.align {
  align-items:
  
}
